@font-face {
  font-family: 'Source Han Serif CN';
  src: url('https://v-direwolf-1259483082.cos.ap-shanghai.myqcloud.com/SourceHanSerifCN-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
